/* ===== MOVIES PAGE ===== */

.movies-container {
  min-height: 100vh;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.movies-header {
  width: 100%;
  background-color: black;
  padding: 25px 0;
  text-align: center;
}

.movies-header h1 {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

/* SEARCH SECTION */
.search-section {
  margin-top: 80px;
  display: flex;
  gap: 15px;
}

/* INPUT */
.search-section input {
  width: 400px;
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.search-section input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

/* BUTTON */
.search-section button {
  padding: 12px 22px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.search-section button:hover {
  background-color: #333;
  transform: scale(1.05);
}
